:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --techs-text-color: #000;
    --bg-cards: #302F3D;
    --bg-cards-inside: #272737;
    --bg-techs: #CB92B1;
    --bg-border: #00FF00;
}

::-webkit-scrollbar {
    width: 0px;   
    display: none;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
    word-break: break-word;
}

main {
    display: flex;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    transition: al 1s;
}

a:hover {
   color: var(--bg-border);
}

.hover:hover {
    color: var(--text-color);
    border: 1px solid var(--bg-border);
}

.column {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    z-index: 1;
}

.column-left {
    width: 30%;
    justify-content: space-between;
}

.column-right {
    width: 70%;
}

.card {
    padding: 25px; 
    background-color: var(--bg-cards);
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in;
}

.card-inside {
    background-color: var(--bg-cards-inside);
}

.profile-photo, .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green-border, .photo {
    border-radius: 50%;
}

.green-border {
    width: 7.2em;
    height: 7.2em;
    background-color: var(--bg-border);
    z-index: 1;
}

.photo {
    width: 7em;
    z-index: 2;
    position: absolute;
}

.role {
    margin: 10px 0px 15 0px;
}

.info-media a {
    display: flex;  
    justify-items: center;
    align-items: flex-end;
    margin-top: 30px;
}

.info-media:last-child {
    margin-bottom: 30px;
}

.icon {
    margin-right: 20px;    
}

.icon-box {
    display: flex;
    align-items: center;
}

.icon-box:last-child {
    margin-left: 20px;
}

.icon-project {
    margin-right: 10px;    
}

.title-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.projects, .professional-experiences, .educations {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.project, .professional-experience, .education {
    display: flex;
    flex-direction: column;
} 

.project p {
    margin: 15px 0px;
}

.project-title {
    display: flex;
}

.footer-project {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.status-project {
    display: flex;
}

.technologies {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.technology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--bg-techs);
    border-radius: 30px;
    color: var(--techs-text-color);
}

.education h3, .professional-experience h3 {
    margin-bottom: 5px;
}

.education p, .professional-experience p {
    margin-top: 15px;
    text-align: justify;
}

footer {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

